
@charset "utf-8";
@import "nce-mixins.scss";

.nce-common {

	&, * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		&:focus {
			outline: 4px solid $nce-bluegreen;
			outline-offset: -2px;
		}
	}

	&, body {
		height: 100%;
		font-size: 16px;
		font-family: Lato, sans-serif;
		background: $nce-azureblue;
		color: $nce-heavyblue;
	}

	.cart-area {

		.cart-button {
			margin-left: 0.2em;
		}

		.cart-button, .cart-panel, .checkout-button {
			border-radius: 8px;
		}

		.cart-system {
			transition: none;
		}
	}

	.nce-header {
		@include nce-header();
	}

	.nce-footer {
		@include nce-footer();
	}
}

.nce-common-demo {

	main {
		@include nce-slice();
		text-align: center;
		min-height: 100%;

		section {
			padding: 1em 2em;
		}
	}
}
