
doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Drake Equation
		link(rel="stylesheet" href="style.css")
	body
		main
			.textbox
				h1 Drake Equation
				p.
					The Drake Equation is a probabilistic argument used to estimate the number of active, communicative extraterrestrial civilizations in the Milky Way galaxy #[br] #[a(href="https://en.wikipedia.org/wiki/Drake_equation") Drake Equation on Wikipedia]
			.preact-equation-area
			.textbox
				p.credit A #[a(href="https://chasemoskal.com") Chase Moskal] Project
		script(src="main.bundle.js")
