
@charset "utf-8";
@import "../node_modules/relly/source/relly.scss";

@mixin contentSpacing($spacing: 0.66em) {
	& > * + * {
		margin-top: 0.66em;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-size: 22px;
	height: 100%;
	background: black;
	color: white;
	text-align: center;
}

main {
	width: 95%;
	max-width: 1600px;
	margin: auto;
}

.textbox {
	@include contentSpacing();
	max-width: 600px;
	margin: auto;
	padding: 2em 0.5em;

	h1 {
		text-transform: uppercase;
	}

	p {
		font-size: 0.8em;
		color: rgba(255,255,255, 0.8);
	}

	.credit { color: #3a75bb; }

	a {
		color: #0050b1;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
}

.equation {
	display: flex;
	width: 100%;
	max-width: 1000px;
	margin: auto;

	.equation-term {
		flex: 1 1 8em;
		min-width: 0;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		text-align: center;
		overflow: hidden;
	}

	.term-name {
		font-size: 2em;
		min-height: 1.5em;
		font-weight: bold;
	}

	.term-definition {
		font-size: 0.6em;
		padding: 1em 0.2em;
		color: rgba(255,255,255, 0.6);
	}

	.term-interactive {
		width: 100%;
		min-height: 1.5em;

		order: -1;
		// margin-top: auto;

		input, output {
			width: 100%;
			text-align: center;
			font-size: inherit;
			background: transparent;
			border: none;
		}

		input { color: lime; }
		output { color: yellow; }
		[data-zero] { color: red; }
	}

	@media (max-width: 800px) {
		font-size: 0.9em;
	}

	@media (max-width: 600px) {
		font-size: 0.6em;
	}
}
